<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FMS_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FMS_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FMS_Manager.Properties.Settings.fmsDBConnectionString"
            connectionString="server=210.221.217.68;user id=root;persist security info=True;database=fmsdb;password=sem1234"
            providerName="MySql.Data.MySqlClient" />
        <add name="FMS_Manager.Properties.Settings.RDBConnectionString"
            connectionString="Data Source=210.104.111.204;Initial Catalog=MAXUMS;Persist Security Info=True;User ID=instsms;Password=instsms123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <FMS_Manager.Properties.Settings>
            <setting name="snmpIP1" serializeAs="String">
                <value>192.168.1.101</value>
            </setting>
            <setting name="snmpIP2" serializeAs="String">
                <value>192.168.1.102</value>
            </setting>
            <setting name="snmpIP3" serializeAs="String">
                <value>192.168.1.103</value>
            </setting>
            <setting name="FMS_Manager_WebReference_iLON100" serializeAs="String">
                <value>http://localhost/WSDL/iLON100.WSDL</value>
            </setting>
        </FMS_Manager.Properties.Settings>101
    </applicationSettings>
    <userSettings>
        <FMS_Manager.Properties.Settings>
            <setting name="TH1COM" serializeAs="String">
                <value>com6</value>
            </setting>
            <setting name="TH2COM" serializeAs="String">
                <value>com7</value>
            </setting>
            <setting name="HVIC1COM" serializeAs="String">
                <value>com2</value>
            </setting>
            <setting name="HVIC2COM" serializeAs="String">
                <value>com5</value>
            </setting>
            <setting name="LEAKCOM" serializeAs="String">
                <value>com3</value>
            </setting>
            <setting name="ELEC1COM" serializeAs="String">
                <value>com8</value>
            </setting>
            <setting name="ELEC2COM" serializeAs="String">
                <value>com9</value>
            </setting>
            <setting name="ELEC3COM" serializeAs="String">
                <value>com10</value>
            </setting>
            <setting name="ELEC3BITRATE" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="ELEC2BITRATE" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="ELEC1BITRATE" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="LEAKBITRATE" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="HVIC2BITRATE" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="HVIC1BITRATE" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="TH2BITRATE" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="TH1BITRATE" serializeAs="String">
                <value>9600</value>
            </setting>
        </FMS_Manager.Properties.Settings>
    </userSettings>
</configuration>